body {
  background-image: url('./images/IMG_8437.JPG');
  background-size: 100%;
  background-repeat: no-repeat;
  grid-area: auto;
  display: row;
  align-items: center;
  text-align: center;
  margin: -30px;
  font-family: 'Chicle', serif;
}

#main-title {
  font-size: 20em;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 3em;
  justify-content: space-around;
}
a:link {
  color: rgb(176, 170, 170);
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(176, 170, 170);
  transition: color 0.8s;
}

.a:active {
  color: rgb(176, 170, 170) !important;
}

.aboutme {
  background-color: rgb(255, 255, 255, 0.3);
  width: 100%;
  min-height: 100%;
}

#aboutme-img {
  width: 30vw;
  margin: 40px 0 20px 0;
}

#aboutme-img:hover {
  background-image: url('./images/IMG_2242.JPEG') !important;
}

#aboutme-title {
  color: white;
  font-size: 9vh;
  margin: 0;
}

#aboutme-p {
  color: rgb(176, 170, 170);
  font-size: 5vh;
  margin: 0 3em 2em 3em;
}

.love {
  background-color: rgb(255, 255, 255, 0.3);
  width: 100%;
  min-height: 100%;
  background-size: cover;
  font-size: 8vh;
  padding: 100px 50px;
  margin: auto;
}

#table-title {
  color: white;
}

.table-p {
  color: white;
}

.table-main {
  color: pink;
}

.contact {
  background-color: rgb(255, 255, 255, 0.3);
  background-size: cover;
}

.contact-imgbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-img {
  width: 250px;
  height: 250px;
  overflow: hidden;
  margin-top: 100px;
}

#contact-img1,
#contact-img2,
#contact-img3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

#contact-detail {
  margin-top: 0;
  color: white;
  font-size: 4vh;
}

ul {
  list-style-type: none;
}

footer {
  color: rgb(176, 170, 170);
  font-size: 1em;
  margin-bottom: 0%;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .body {
    background-size: 100% !important;
  }
  #main-title {
    font-size: 20em !important;
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .body {
    background-size: 100% !important;
  }
  #main-title {
    font-size: 20em !important;
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .body {
    background-size: 100% !important;
  }
}
